html,
body {
  margin: 0;
  /*
   * Stop page from scrolling even if content does not exceed height of page */
  /* overflow: hidden; */
  overscroll-behavior: none;
  max-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3;
}

#root {
  /*
		* Horizontally aline panel components to create horizontal site */
  display: flex;
  /*
      * Allow scrolling of wrapper instead of body.
      * Should only allow horizontal scroll
      * This technique stops the page from showing grey background when user scrolls past content, and lets us animate components off the page
      * Allows for smoother horizontal scroll experience */
  overflow-x: auto;
  overflow-y: hidden;
}
