@import 'normalize.css';
@import 'type.css';
@import 'variables.css';

html,
body {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  /*
   * Stop page from scrolling even if content does not exceed height of page */
  overscroll-behavior: none;
  max-height: 100vh;
}

#root {
  max-height: 100vh;
  /*
		* Horizontally aline panel components to create horizontal site */
  display: flex;
  /*
      * Allow scrolling of wrapper instead of body.
      * Should only allow horizontal scroll
      * This technique stops the page from showing grey background when user scrolls past content, and lets us animate components off the page
      * Allows for smoother horizontal scroll experience */
  overflow-x: auto;
  overflow-y: hidden;
}
