:root {
  --subtitle1-font: 400 1.6rem 'Roboto';
  --subtitle2-font: 500 1.4rem 'Roboto';

  --body1-font: 400 1.6rem 'Roboto';
  --body2-font: 400 1.4rem 'Roboto';
}

@font-face {
  font-family: 'rob-li';
  src: url('fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'rob-med';
  src: url('fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'rob';
  src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

h1 {
  font-family: 'rob-li';
  font-size: 9.6rem;
}
h2 {
  font-family: 'rob-li';
  font-size: 6rem;
}
h3 {
  font-family: 'rob';
  font-size: 4.8rem;
}
h4 {
  font-family: 'rob';
  font-size: 3.4rem;
}
h5 {
  font-family: 'rob';
  font-size: 2.4rem;
}
h6 {
  font-family: 'rob-med';
  font-size: 2rem;
}

button {
  font-family: 'rob-med';
  font-size: 1.4rem;
  font-variant: all-petite-caps;
}

.caption {
  font-family: 'rob';
  font-size: 1.2rem;
}

.overline {
  font-family: 'rob';
  font-size: 1rem;
  font-variant: all-petite-caps;
}
